* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f8;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1000px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

.book {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.book img {
  object-fit: cover;
}

.book h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

.book h4 {
  font-size: 0.75rem;
  color: #617d98;
}
